# ignore invisible file

**/.vscode
**/.DS_Store

#ignore swap files emacs

**/*~
**/\#*
**/*.swp


#ignore setup.py log file

setup.log

# latex files

**/*.aux
**/*.fdb_latexmk
**/*.fls

**/*.synctex.gz

# jupyter/notebook

.ipynb_checkpoints

# python cache
__pycache__
**/*.pyc

# test ipynb

test.ipynb